//registry.npmjs.org/:_authToken=257719af-c6a0-4703-add7-e5b9291a7cd0
//npm.pkg.github.com/:_authToken=11e91cf7f73d87dc9f1849608aedee3a867b754e
registry=https://npm.pkg.github.com/@feveragency
registry=https://registry.npmjs.org/@feveragency