<!DOCTYPE html>
html(lang="PT")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Cookies GDPR
		link(rel='stylesheet' href='assets/css/cookie.min.css')

	body
		a.link(href='javascript:;') Open Modal

	script(src='/assets/js/app/cookie.min.js')
